<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="edit-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
      <option value="American" selected=<%= 'American' === flight.airline %>>American</option>
      <option value="Southwest" selected=<%= 'Southwest' === flight.airline %>>Southwest</option>
      <option value="United" selected=<%= 'United' === flight.airline %>>United</option>
    </select>
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="AUS" selected=<%= 'AUS' === flight.airport %>>AUS</option>
      <option value="DFW" selected=<%= 'DFW' === flight.airport %>>DFW</option>
      <option value="DEN" selected=<%= 'DEN' === flight.airport %>>DEN</option>
      <option value="LAX" selected=<%= 'LAX' === flight.airport %>>LAX</option>
      <option value="SAN" selected=<%= 'SAN' === flight.airport %>>SAN</option>
    </select>
    <label for="flightNo-input">Flight No.:</label>
    <input type="number" name="flightNo" value="<%= flight.flightNo %>" id="flightNo-input">
    
    <label for="departs-input">Departure Date:</label>
    <input type="date" name="departs" value=<%= flight.departs.toLocaleDateString() %> id="departs-input">

    <button type="submit">Book Flight</button>
  </form>
</main>

<%- include("../partials/footer") %>