<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight No.</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><a href="/flights/<%= flight._id%>"><%= flight.flightNo %></a></td>
        </tr>
      <%})%>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>