<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight Details</h1>
  <a href="/flights/<%= flight._id %>/edit"><button>Edit Flight</button></a>
  <br/>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure</th>
        <th>Tickets</th>
        <th>Meals</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs.toLocaleDateString() %></td>
        <td>
          <ul>
            <% flight.tickets.forEach(ticket => { %>
              <li>
                <%= ticket.seat %> 
                - 
                $<%= ticket.price %> 
                <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
                  <button style="height: 20px; width: 80px; text-align: top; padding: 0;">Delete</button>
                </form>
              </li>
            <% }) %>
          </ul>
        </td>
        <td>
          <!-- Meals -->
          <ul>
            <% flight.meals.forEach(meal => { %>
              <li value="<%= meal.name %>"><%= meal.name %></li>
            <% }) %>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Add Ticket</h2>
  <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-input">Seat:</label>
    <input type="text" name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
    <label for="price-input">Price:</label>
    <input type="number" name="price" id="price-input" required>
    <button type="submit">+</button>
  </form>
  <h2>Add Meal</h2>
  <form id="add-meal-form" action="/flights/<%= flight._id %>/meals" method="POST">
    <label for="meal-select">Meals:</label>
    <select name="mealNames">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">+</button>
  </form>
  

</main>

<%- include('../partials/footer') %>